/* Add this to your global CSS */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
